<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gvsdevelopers.bvritconnect">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dashboard.CreateNews"></activity>
        <activity android:name=".Dashboard.Info" />
        <activity android:name=".Dashboard.News" />
        <activity android:name=".Dashboard.Circulars" />
        <activity android:name=".Dashboard.Events" />
        <activity android:name=".StudentHomePage" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".TeacherRegisterActivity" />
        <activity android:name=".TeacherLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>